*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #1992D4;
    --secondary-color:#FFFFFF;
    --all-color:#E2E8F0;
    --font-color:#636363;
    --dark-color: black;
}


.roboto roboto-regular{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: 100;
  }

aside{
    display: grid;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    grid-template-columns: 1fr;
    width: 300px;
    height: 100vh;
  }

#dashboard{
    height: 69px;
    width: 70px;
    filter: invert(100%) brightness(200%);
    margin-top: 39px;
    margin-left: 15px;
  }

#home{
    margin-top: 50px;
}


#communities{
    margin-bottom: 80px;
}

.icon{
    height: 40px;
    width: 43px;
    filter: invert(100%) brightness(200%); 
    margin-top: 11px;
    margin-left: 20px;
}

.center{
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center; 
    gap: 8px;
}

#dashboard-center{
    margin-top: 50px;
}

.text-center{
    margin-top: 10px;
}